<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>SAKSHAM 2017</h1>

{% if user.is_superuser %}
<a href="{% url 'saksham2017:add_sports' %}">Add Sports</a><br>
<a href="{% url 'saksham2017:add_teams' %}">Add Teams</a><br>
<a href="{% url 'saksham2017:trials_applications' %}">View Trials Applications</a><br>

{% elif user.is_staff and not user.is_superuser %}
<a href="{% url 'saksham2017:trials_applications' %}">View applications</a><br>
<a href="{% url 'saksham2017:trials_apply' %}">Apply For Trials</a><br>


{% elif user.is_authenticated and request.user.is_active %}
<a href="{% url 'saksham2017:trials_apply' %}">Apply For Trials</a><br>
{% endif %}
</body>
</html>
